<main>
  <section class="login-container">
    <h1>Login de Usuario</h1>
    <form class="login-form" action="/login" method="POST">
      <label for="username">Ingrese su nombre</label>
      <input type="text" id="username" name="username">
      <button type="submit" class="button">Enviar</button>
    </form>
  </section>
</main>